.design_main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.design_content{
    width: 90%;
}

.paraInfo{
    width: 70%;
    margin-bottom: 5%;
}

.design_course_content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.design_course_title{
    text-decoration: underline;
    height: 5%;
}

.design_course_title h3{
    margin: 0;
}

.design_course{
    position: relative;
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5% auto;
    text-align: center;
    box-shadow: 3px 3px 20px black;
}

.design_course h5{
    margin: 5px;
}

.design_course p{
    margin: 0;
}

.design_container ul{
    padding: 0;
}

.design_course_info{
    margin-top: 5%; 
}

.design_course:hover{
    transform: scale(110%);
    transition-duration: 1s;
    animation-name: hoverAction;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    box-shadow: 8px 8px 20px black;
}

.design_course:not(:hover){
    transform: scale(100%);
    transition-duration: 1s;
}

@keyframes hoverAction{
    0% {bottom:0px; top:0px;}
  10%  {bottom:0px; top:2px;}
  20%  {bottom:0px; top:4px;}
  30%  {bottom:0px; top:6px;}
  40%  {bottom:0px; top:8px;}
  50%  {bottom:0px; top:10px;}
  60%  {bottom:0px; top:8px;}
  70%  {bottom:0px; top:6px;}
  80%  {bottom:0px; top:4px;}
  90%  {bottom:0px; top:2px;}
  100% {bottom:0px; top:0px;}
}

@media screen and (max-width: 1300px){
    .design_phoneView{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}